<a href="https://colab.research.google.com/github/soumiyavenkatesan/DatascienceTask/blob/main/Task7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a Pandas program to count the number of rows and columns of a DataFrame. Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:

import pandas as pd
import numpy as np

# Sample data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create DataFrame
df = pd.DataFrame(exam_data, index=labels)

# Count rows and columns
num_rows, num_cols = df.shape

print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_cols}")

Number of rows: 10
Number of columns: 4

2.Write a Pandas program to select the specified columns and rows from a given data frame. Sample Python dictionary data and list labels:
Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame. exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:

import pandas as pd
import numpy as np

# Sample data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create DataFrame
df = pd.DataFrame(exam_data, index=labels)

# Select specified columns and rows
selected_data = df.loc[['b', 'd', 'f', 'g'], ['name', 'score']]

print(selected_data)

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

3.Perform appending, slicing, addition and deletion of rows with a Pandas DataFrame.

In [ ]:
import pandas as pd

# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}

# Create a DataFrame
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Append a new row
new_row = {'Name': 'Eva', 'Age': 22, 'City': 'Miami'}
df = df.append(new_row, ignore_index=True)

# Display DataFrame after appending
print("\nDataFrame after appending a new row:")
print(df)

# Slice rows
sliced_df = df.loc[1:3]

# Display sliced DataFrame
print("\nSliced DataFrame:")
print(sliced_df)

# Add a new row using loc
df.loc[len(df.index)] = ['Frank', 32, 'Seattle']

# Display DataFrame after addition using loc
print("\nDataFrame after adding a new row using loc:")
print(df)

# Delete a row by index
df = df.drop(2)

# Display DataFrame after deletion
print("\nDataFrame after deleting a row:")
print(df)

Original DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

DataFrame after appending a new row:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago
4      Eva   22          Miami

Sliced DataFrame:
      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

DataFrame after adding a new row using loc:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago
4      Eva   22          Miami
5    Frank   32        Seattle

DataFrame after deleting a row:
    Name  Age           City
0  Alice   25       New York
1    Bob   30  San Francisco
3  David   28        Chicago
4    Eva   22          Miami
5  Frank   32        Seattle

<ipython-input-6-75641995aac9>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

4.Write a Pandas program to select all columns, except one given column in a DataFrame.

In [ ]:
import pandas as pd

# Sample data
data = {'col1': [0,1,4,7],'col2': [1,2,5,5],'col3': [2,3,6,8]}

# Create a DataFrame
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Select all columns except 'col2'
selected_columns = df.drop('col2', axis=1)

# Display DataFrame with selected columns
print("\nDataFrame with all columns except 'col2':")
print(selected_columns)

Original DataFrame:
   col1  col2  col3
0     0     1     2
1     1     2     3
2     4     5     6
3     7     5     8

DataFrame with all columns except 'col2':
   col1  col3
0     0     2
1     1     3
2     4     6
3     7     8

5.Write a Pandas program to select the rows where the score is missing, i.e. is NaN. Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
import pandas as pd
import numpy as np

# Sample data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create DataFrame
df = pd.DataFrame(exam_data, index=labels)

# Select rows where 'score' is missing
missing_score_rows = df[df['score'].isna()]

# Display DataFrame with selected rows
print("Rows where the score is missing (NaN):")
print(missing_score_rows)

Rows where the score is missing (NaN):
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

6.i.Using Pandas, Create a DataFrame with a list of dictionaries, row indices, and column
indices

In [ ]:

import pandas as pd

# Sample data
data_list = [
    {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 30, 'City': 'San Francisco'},
    {'Name': 'Charlie', 'Age': 35, 'City': 'Los Angeles'}
]

# Row indices
row_indices = ['a', 'b', 'c']

# Column indices
column_indices = ['Name', 'Age', 'City']

# Create DataFrame
df = pd.DataFrame(data_list, index=row_indices, columns=column_indices)

# Display the created DataFrame
print(df)

      Name  Age           City
a    Alice   25       New York
b      Bob   30  San Francisco
c  Charlie   35    Los Angeles

6.ii. Use index label to delete or drop rows from a Pandas DataFrame

In [ ]:
import pandas as pd

# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}

# Row indices
row_indices = ['a', 'b', 'c']

# Create DataFrame
df = pd.DataFrame(data, index=row_indices)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Drop a row using index label 'b'
df = df.drop('b')

# Display DataFrame after dropping a row
print("\nDataFrame after dropping row with index 'b':")
print(df)

Original DataFrame:
      Name  Age           City
a    Alice   25       New York
b      Bob   30  San Francisco
c  Charlie   35    Los Angeles

DataFrame after dropping row with index 'b':
      Name  Age         City
a    Alice   25     New York
c  Charlie   35  Los Angeles